In [22]:
#1
s="krish"
l=[1,2,34,"krishna","devil",5.76,True]
f=56.323
t=("hello",1,2,3,"go")

In [13]:
#2
var1=''
type(var1)

str

In [10]:
var2='[DS,ML,Python]'
type(var2)

str

In [11]:
var3=['DS','ML','Python']
type(var3)

list

In [12]:
var4=1.
type(var4)

float

In [18]:
#3
# '/' this operator is used to divide any number.example:
5/2

2.5

In [17]:
# '%' this operator is used to give remainder.example:
5%2

1

In [19]:
# '//" this operator is used to give integer division.example:
5//2

2

In [20]:
# '**' this operator is used to give power to any number.example:
5**2

25

In [21]:
# I have taken same examples so that it can be easy to understand

In [24]:
#4
l=[1,2,3,"krish","learning",True,56.75,8,24.59,False]
for i in l:
   print(i)
   print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
krish
<class 'str'>
learning
<class 'str'>
True
<class 'bool'>
56.75
<class 'float'>
8
<class 'int'>
24.59
<class 'float'>
False
<class 'bool'>

In [29]:
#5
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0
while A >= B:
    if A % B == 0:
        A /= B
        count += 1
    else:
        break

if count >= 1:
    print(f"A is divisible by B and can be divided {count} times.")
else:
    print("A is not divisible by B.")

Enter the value of A:  125
Enter the value of B:  5

A is divisible by B and can be divided 3 times.

In [33]:
#6
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i)
        print("element is divible by 3")
    else:
        print(i)
        print("element is not divisible by 3")

1
element is not divisible by 3
2
element is not divisible by 3
3
element is divible by 3
4
element is not divisible by 3
5
element is not divisible by 3
6
element is divible by 3
7
element is not divisible by 3
8
element is not divisible by 3
9
element is divible by 3
10
element is not divisible by 3
11
element is not divisible by 3
12
element is divible by 3
13
element is not divisible by 3
14
element is not divisible by 3
15
element is divible by 3
16
element is not divisible by 3
17
element is not divisible by 3
18
element is divible by 3
19
element is not divisible by 3
20
element is not divisible by 3
21
element is divible by 3
22
element is not divisible by 3
23
element is not divisible by 3
24
element is divible by 3
25
element is not divisible by 3

In [34]:
#7
#Mutable data types- The data types in whic we can chage the value at a given position.Example-List is Mutable data  type
l=[1,2,3,"dev","sky",56.33,34.7,False]
l

[1, 2, 3, 'dev', 'sky', 56.33, 34.7, False]

In [35]:
l[4]="datascience"

In [36]:
l

[1, 2, 3, 'dev', 'datascience', 56.33, 34.7, False]

In [37]:
#Immutable data types- The data types in which we cannot change the value at a given position.Example-String is immutable
s="Rocket"
s

'Rocket'

In [38]:
s[4]='j'

TypeError: 'str' object does not support item assignment

In [39]:
s

'Rocket'