In [1]:
#1.
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#2.
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#3.
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4.A DataFrame is a two-dimensional labeled data structure in pandas. It can be thought of as a table or spreadsheet with rows and columns. Each column can be of a different data type. It is commonly used for working with tabular data.

In contrast, a Series is a one-dimensional labeled array in pandas. It can be seen as a single column of data with associated labels, often referred to as an index. A DataFrame is essentially a collection of Series, where each Series represents a column of the DataFrame.

Example:

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27]
}
df = pd.DataFrame(data)

ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)

print("\nSeries:")
print(ages)

DataFrame:
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

5.Some common functions to manipulate data in a Pandas DataFrame include:

head(): Display the first few rows of the DataFrame.
tail(): Display the last few rows of the DataFrame.
info(): Provide information about the DataFrame's data types and non-null values.
describe(): Generate summary statistics of numeric columns.
Example:

In [6]:
print(df.head())

print(df.describe())

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

6.Both Series and DataFrame are mutable in nature. This means you can modify their contents after creation. However, Panel is no longer actively developed in recent versions of pandas and has been deprecated.

7.The example I provided in my previous question already demonstrates creating a DataFrame using multiple Series. The data dictionary contains three Series: 'Name', 'Age', and 'Gender'. Each Series represents a column, and when you pass the dictionary to pd.DataFrame(), it constructs a DataFrame where each Series becomes a column.

In [7]:
print("finished")

finished